body {
    margin: 0px;
    padding: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav .container {
    display: flex;
    flex-direction: column;
    height: 180px;
    width: 100%;
    text-align: center;
}

img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.title h1 {
    margin: 6px 0px;
    font-size: 30px;
    font-weight: 400;
}

hr {
    width: 50%;
}

main {
    margin-top: 30px;
}

.card {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 60px;
    text-align: center;
    font-size: 10px;
}

.emoji {
    font-size: 3rem;
}

.item-name {
    font-weight: 600;
}

.item-details {
    font-size: 20px;
    margin: 0;
    text-align: start;
    margin-right: 40px;
    width: 290px;
}

.ingredients {
    color: #8B8B8B;
}

.add-btn button {
    border: none;
    border-radius: 50%;
    font-size: 20px;
    background-color: white;
    border: 1px solid #8B8B8B;;
}  

.add-btn button:hover {
    cursor: pointer;
    background-color: black;
    color: white;
    border: 1px solid #8B8B8B;
}  

.card:hover {
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}