body {
    margin: 0px;
    padding: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav .container {
    display: flex;
    flex-direction: column;
    height: 180px;
    width: 100%;
    text-align: center;
}

img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.title h1 {
    margin: 6px 0px;
    font-size: 30px;
    font-weight: 400;
}

hr {
    width: 50%;
}

main {
    margin-top: 30px;
}

.card {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 60px;
    text-align: center;
    font-size: 10px;
}

.emoji {
    font-size: 3rem;
}

.item-name {
    font-weight: 600;
}

.item-details {
    font-size: 20px;
    margin: 0;
    text-align: start;
    margin-right: 40px;
    width: 290px;
}

.ingredients {
    color: #8B8B8B;
}

.add-btn button {
    border: none;
    border-radius: 50%;
    font-size: 20px;
    background-color: white;
    border: 1px solid #8B8B8B;;
}  

.add-btn button:hover {
    cursor: pointer;
    background-color: black;
    color: white;
    border: 1px solid #8B8B8B;
}  
.your-order {
    text-align: center;
}

section .container {
    gap: 20px;
    font-size: 1.5rem;
    margin: 0;
}

.remove-item {
    border: none;
    background-color: white;
    color: #8B8B8B;
}

.remove-item:hover {
    cursor: pointer;
    color: red;
}
.checkout-price {
    margin-left: 130px;
}

.checkout .checkout-hr {
  border: none;
  border-top: 2px solid black;
  overflow: visible;
  text-align: center;
  height: 2px;
}

.checkout-total {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
}

.checkout-price-final {
    margin-left: 220px;
}

.order-btn {
    display: flex;
    justify-content: center; 
    align-items: center; 
    background-color: #16DB99;
    border: none;
    padding: 14px 90px;
    color: white;
    font-weight: 600;
    border-radius: 5px;
    text-shadow: black;
    margin: 18px auto 20px auto;
}

.order-btn:hover {
   cursor: pointer;

}